body {
  margin: 0;
}

.nav {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #eee;
}

.chat-box {
  width: 300px;
  height: 700px;
  background-color: #eee;
}

.chat-input {
  display: flex;
  background-color: #ddddff;
  height: 25px;
  align-items: center;
}

.message {
  padding: 5px 2px;
}

#message-holder {
  height: calc(100% - 25px);
  overflow-y: auto;
  overflow-wrap: break-word;
  overflow-x: hidden;
  hyphens: auto;
}

.time {
  font-size: 10px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls-container {
  height: 200px;
  width: 700px;
  background-color: #ddffdd;
}

.game-container {
  height: 500px;
  width: 700px;
  background-color: #ffdddd;
}
